include __init__.py
include requirements.txt
include cloudmesh/__init__.py
recursive-include cloudmesh *.pbtxt
graft cloudmesh/secchi/tensorflow/annotations
graft cloudmesh/secchi/tensorflow/trained-inference-graphs
exclude .gitignore
exclude .gitreview
